@font-face {
    font-family: Onda;
    src: url('../fonts/AG-Onda-Bold.ttf');
}

@font-face {
    font-family: Allianz;
    src: url('../fonts/Allianz-Book.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../fonts/Anton-Regular.ttf');
}

body{
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

#box{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    z-index: -1;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bot{
    display: grid;
    grid-gap: 1rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
    grid-template-columns: repeat(5, 2fr);
}

.about{
    position: absolute;
    font-size: 3em;
    transform: rotate(-90deg);
    right: 10px;
    top: 50%;
}

.btn{
    border: 3px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    font-size: 1.4vw;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px grey;
}

.btn:hover{
    background-color: grey;
}

.title{
    position: absolute;
    top: 30px;
    left: 30px;
}

.opt{
    position: absolute;
    top: 30px;
    right: 30px;
}

#show5x5{
    display: none;
    position: absolute;
    top: 0;
    right: 80px;
    width: 200px;
    
}

/*
#impact:hover + .test{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#times:hover + .test{
    font-family: 'Times New Roman', Times, serif;
}*/