@font-face {
    font-family: Onda;
    src: url('../fonts/AG-Onda-Bold.ttf');
}

@font-face {
    font-family: Allianz;
    src: url('../fonts/Allianz-Book.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Test;
    src: url('../fonts/DancingScript-Regular.ttf');
}

html{
    height: 100%;
}

body{
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

a{
    text-decoration: none;
}

#box{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    z-index: -1;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bot{
    display: grid;
    grid-gap: 1rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
    grid-template-columns: repeat(5, 2fr);
}

.about{
    position: absolute;
    font-size: 3em;
    transform: rotate(-90deg);
    right: 10px;
    top: 50%;
}

.btn{
    border: 3px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px grey;
}

@media screen and (min-width: 375px){
    .btn{
        font-size: 3.5vw;
    }
}
@media screen and(min-width: 780px){
    .btn{
        font-size: 2vw;
    }
}
@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.4vw;
    }
}

     

.btn:hover{
    background-color: grey;
}

.title{
    position: absolute;
    top: 30px;
    left: 30px;
}

.right{
    position: absolute;
    top: 30px;
    right: 30px;
}

.instagram{
    float: left;
    margin-right: 15px;
}

.opt{
    float: right;
}

.wip{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
/*-------------------------------*/
#container{
    position: absolute;
    display: none;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#sopra{
    height: 50%;
    width: 100%;
}

#sotto{
    height: 50%;
    width: 100%;
}


#foto {
    width: 900px;
    height: 600px;
    margin: auto; 
  }
  #foto .turn-page{
    background-color: #CCCCCC;
    background-size: 100% 100%;
  }